<!-- Penggunaan Base HTML Header -->

{% extends 'base.html' %}

{% block content %}

      <div class="nav-scroller mb-1">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" href="http://127.0.0.1:8000/halamanlainnya/">Beranda</a>
          <a class="p-2 link-secondary" href="#berita">Potensi Perikanan</a>
          <a class="p-2 link-secondary" href="#pemanfaatan">Pemanfaatan Potensi Perikanan</a>
          <a class="p-2 link-secondary" href="#sektorind">Sektor Ekonomi Indonesia</a>
          <a class="p-2 link-secondary" href="#nelayan">Ekonomi Nelayan Menurun</a>
          <a class="p-2 link-secondary" href="#kontak">Kontak</a>
        </nav>
      </div>
    </div>

    <div style="background-image: url('/templates/pari.jpg'); background-size: cover;background-position: center;background-attachment: fixed;">
        <div style="background-color:darkblue;">
            <div class="container">
                <div class="container-konten">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="header-content text-light">BERITA</h1>
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                <a href="http://127.0.0.1:8000/halamanlainnya/">Beranda</a>
                              </li>
                              <li class="breadcrumb-item">
                                <a href="#berita">Berita</a>
                              </li>
                              <li class="breadcrumb-item active">Potensi Perikanan Indonesia</li>
                            </ol>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <article class="blog-post mx-5">
        <h2 class="blog-post-title" name="potensi" id="berita">Potensi Perikanan Indonesia</h2>
        <p class="blog-post-meta">Oktober 19, 2021 by <a href="#">Muhammad Ukasah</a></p>
        <p> Secara potensi, perikanan Indonesia adalah yang terbesar di dunia, baik perikanan tangkap 
            maupun perikanan budidaya. Berdasarkan modus operandi atau cara produksi, perikanan terbagi 
            menjadi dua yaitu perikanan tangkap (capture fisheries) dan perikanan budidaya (aquaculture), 
            dengan potensi produksi lestari sekitar 67 juta ton/tahun. Dari angka ini, potensi produksi lestari 
            (Maximum Sustainable Yield = MSY) perikanan tangkap laut sebesar 9,3 juta ton/tahun dan perikanan tangkap 
            di peraian darat (danau, sungai, waduk, dan rawa) sekitar 0,9 juta ton/tahun, atau total perikanan 
            tangkap 10,2 juta ton/tahun. Sisanya, 56,8 juta ton/tahun adalah potensi perikanan budidaya, baik 
            budidaya laut  (mariculture), budidaya perairan payau (tambak), maupun budidaya perairan tawar (darat).</p>
        <h3 id="sektorind">Sektor Ekonomi kelautan</h3>
        <pname="sektor" id="sektor">Catatan kedua, berbicara mengenai ekonomi kelautan atau ekonomi maritim bukan hanya sekedar perikanan tangkap akan tetapi ada 11 sektor ekonomi kelautan yaitu:</p>
        <img src="https://indonesiabaik.id/public/uploads/post/1678/1202_Indonesia_Kaya_Potensi_Kelautan_dan_Perikanan_BP.png" align="right"  alt="Potensi Lapangan Kerja Sektor Kelautan dan Perikanan" width="400" height="380">
        <ol>
          <li>perikanan tangkap</li>
          <li>perikanan budidaya</li>
          <li>industri pengolahan hasil perikanan</li>
          <li>industri bioteknologi kelautan</li>
          <li>pertambangan dan energi (ESDM)</li>
          <li>pariwisata bahari</li>
          <li>hutan bakau</li>
          <li>perhubungan laut</li>
          <li>sumberdaya wilayah pulau-pulau kecil</li>
          <li>industri dan jasa maritim</li>
          <li>SDA non-konvensional</li>
        </ol>

      </article>

      <article class="blog-post mx-5">
      <dl>
        <dt id="pemanfaatan">Tadi Bapak mengatakan potensi perikanan kita tinggi tetapi pemanfaatannya masih rendah. 
                 Bagaimana memanfaatkan potensi perikanan menjadi bernilai, bukan hanya dilihat dari jumlah volumenya saja. 
                 Tentu hal ini membutuhkan kreativitas dalam pengelolaannya.</dt> <br>
         <dd>Pertama, di negara maju, tugas nelayan atau petani budidaya ikan hanya difokuskan bagaimana memproduksi saja, 
                 tetapi sisi hulu dan hilirnya sudah ditanggung oleh pemerintah. Dari sisi hulu, pemerintah menyediakan sarana 
                 produksi, seperti jaring, BBM, dan mesin kapal dengan jumlah yang memadai, kualitas yang baik, dan harga yang 
                 relatif murah. Bukan berarti pemerintah yang berjualan, tetapi pemerintah yang mengkoordinasikan, termasuk juga 
                 penyediaan koperasi-koperasi bagi nelayan. Kemudian, di sisi hilir harus ada jaminan pemasaran. Selama harga ikan 
                 masih jatuh bangun (fluktuatif), nelayan tidak akan keluar dari kemiskinan. Saat tidak ada ikan, harga ikan 
                 melambung tinggi, tetapi ketika panen, sontak harga ikan menjadi sangat murah. Jelas, tidak ada fungsi penyangga. 
                 Sekali lagi, penyediaan sarana produksi, proses produksi, dan pemasaran seharusnya menjadi tugas pemerintah. Bukan 
                 erarti pemerintah bekerja sendiri, tentu saja melibatkan stakeholder lainnya. Namun intinya, nelayan dan petani 
                 budidaya cukup fokus pada produksi atau bagaimana membudidayakan perikanan secara produktif, efisien, dan ramah 
                 lingkungan.</dd>
         <dt id="nelayan">Berdasarkan data BPS, Nilai tukar nelayan Bulan Januari 2017 naik 0,25 persen jika dibandingkan dengan Bulan Desember 2016. 
             Kendatipun demikian, nelayan tradisional cenderung berada pada level bawah piramida sosial ekonomi Indonesia, yang hidup dalam 
             kemiskinan. Apa yang harus dilakukan?</dt> <br>
         <dd>Mensejahterakan seseorang atau kelompok individu sebenarnya rumusnya sederhana. Orang menjadi sejahtera jika pendapatan lebih 
             besar daripada pengeluaran. Kita perlu tarik mundur dahulu, supaya nelayan memperoleh pendapatan tinggi maka pertama hasil 
             tangkapnya harus tinggi, kedua harga jual harus tinggi. Pendapatan kotor hasil tangkap ini harus lebih besar ketimbang ongkos 
             produksinya. Pertanyaannya, supaya hasil tangkapnya tinggi apakah semua alat tangkap aktif harus diganti dengan alat tangkap pasif? 
             Saya ini seorang nelayan. Sesungguhnya perubahan teknologi penangkapan ikan adalah hasil ijtihad dan penyesuaian dari nelayan. 
             Hanya saja penggunaan alat tangkap modern memiliki dampak negatif jika tidak dikendalikan. Oleh karena itu, saya memiliki 
             perhitungan, di setiap wilayah ditentukan jumlah kapal dengan teknologi penangkapan yang boleh beroperasi.</dd>
     </dl>
    </article>


    <h3 class="mx-5" name="Kontaka" id="kontak">Kontak</h3>
    <ul class="elementor-icon-list-items mx-5">
            <li>
                 <img src="https://www.pngrepo.com/download/262685/telephone-call.png" width="20px" height="20px" alt="">
                    <span class="icon-list-text">081283806430</span>
                    </li>
                <li>
                    <img src="https://www.nicepng.com/png/detail/90-903560_e-mail-png-pic-email-logo-icon-png.png" width="20" height="20" alt="">
                        <span>m.ukasah@upi.edu</span>
                    </li>
                <li>
                    <img src="https://www.pngrepo.com/png/157852/512/location-pin.png" width="20" height="20" alt="">
                        <span>Jalan Bacang 1, Jakarta Timur</span>
                    </li>
        </ul>

    

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-light text-decoration-none lh-1">
                <img src="https://upload.wikimedia.org/wikipedia/id/4/40/Perikanan_Indonesia.png" width="38" height="30" class="mx-3" alt="Perikanan_Indonesia">
        
            </a>
            <span class="text-light">&copy; Muhammad Ukasah (2007253)</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-light" href="#">Beranda<svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="text-light" href="#">Home<svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="text-light" href="#">Kembali<svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </footer>

        {% endblock %}
