<!-- Base HTML Header -->

<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom">
      <div class="container-fluid d-flex align-items-center">
          <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            <img src="https://upload.wikimedia.org/wikipedia/id/4/40/Perikanan_Indonesia.png" width="38" height="30" class="me-3" alt="Perikanan_Indonesia">
            Perikanan Indonesia
          </h1>   
      </div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form> 
</header>
